# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015, 2016 CERN.
#
# Invenio is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

addons:
  postgresql: 9.3

notifications:
  email: false

sudo: false

services:
  - postgresql
  - redis
  - rabbitmq

language: python

matrix:
  fast_finish: true

cache:
  - pip

env:
  - REQUIREMENTS=lowest ES_HOST=127.0.0.1 ES_VERSION=2.2.0 SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/invenio"
  - REQUIREMENTS=release ES_HOST=127.0.0.1 ES_VERSION=2.2.0 SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/invenio"
  - REQUIREMENTS=devel ES_HOST=127.0.0.1 ES_VERSION=2.2.0 SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/invenio"

python:
  - "2.7"
  # - "3.3"
  # - "3.4"
  - "3.5"

before_install:
  - "nvm install 6; nvm use 6"
  - "mkdir /tmp/elasticsearch"
  - "wget -O - https://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/${ES_VERSION}/elasticsearch-${ES_VERSION}.tar.gz | tar xz --directory=/tmp/elasticsearch --strip-components=1"
  - "/tmp/elasticsearch/bin/plugin install -b mapper-attachments"
  - "/tmp/elasticsearch/bin/elasticsearch &"
  - "sleep 20"
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder -e all --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder -e all --level=pypi setup.py > .travis-release-requirements.txt"
  - "requirements-builder -e all --level=dev --req requirements-devel.txt setup.py > .travis-devel-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
  provider: pypi
  user: jirikuncar
  password:
    secure: At5OEasXWmBmWvi5oDbmSYsHhUtKs4Ytnoq7UmdYWSWoZ+MfmJF/4SbjxmkKVGj+QSL64JpSma8SbGkNrJooYPp+pDZ4SmeotU/hDFwg+LcGTRPF7kw4Czz/RBvPNl7wB4YsFPNK1qyyYVYb9/5NupWMlNgPJzXAItPOATbSr/YCkQtaZdsKO8sknDrxyyUJC1M7xnLsbKvyk9GhN2o3uzR09j1Xu4/xXNE8T63Qit2yV2AfbDuhq810H71NUmGNeBWSFhw96VY3Pq3voIZyokzxKaWfF9WFpEUarYICAgkMXHC71CKPdtXpzQfoK24hUK1wo2lEQ2n3QNBo6wDT8RnBAKGBqdcikAwRU1xcH+4j74Dw37p3edmlHorOZ3n5tc8w1Tkei68mzv6TDySZIHN/+m1+6ljVAA5JJpXEmi6/lQ9E7l1dj6EOHwDKmBp6IkpOxVeKGYApX47kkBHsCeyaZwHk5yiyl3mgyDU72rUIZSDX2qJm0gtw+DxofM+0UKnwoRJ2i3WntBmdX8BuRHsEdkVWHakqwMs9qfAK3bcgmvVoUe3MciXCW3GmYMuWhOppG6in4PyaidFPEoQUs/a4h8dzIs8cepruAcQX3nF11PH8Mx1OsIRFgGRhqzrif3jDU1puBxqimSQgZzKiGHXEZm0MoRKT0XA/4I3GLGs=
  distributions: "compile_catalog sdist bdist_wheel"
  on:
    tags: true
    python: "2.7"
    condition: $REQUIREMENTS = release
