<span ng-init="tree=[];tree_more=[]">
  <a class="btn btn-sm btn-link" href="#" ng-click="handler.status=[];handleClick('status', 'draft')">
    <strong class="text-muted">
      <i class="glyphicon glyphicon-open"></i> Drafts {{ (vm.invenioSearchResults.aggregations.status.buckets | filter:{key: 'draft'})[0].doc_count || '0' }}
    </strong>
  </a>
  <a class="btn btn-sm btn-link" href="#" ng-click="handler.status=[];handleClick('status', 'published')">
    <span class="text-muted">
      <i class="glyphicon glyphicon-saved"></i> Published {{ (vm.invenioSearchResults.aggregations.status.buckets | filter:{key: 'published'})[0].doc_count || '0' }}
    </span>
  </a>
</span>
