# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015, 2016 CERN.
#
# Invenio is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

dojson>=1.0.0
invenio-assets>=1.0.0a4
invenio-db>=1.0.0a9
invenio-indexer>=1.0.0a1
invenio-pidstore>=1.0.0a6
invenio-rest[cors]>=1.0.0a5
invenio-records-rest>=1.0.0a4
invenio-records-ui>=1.0.0a4
invenio-records>=1.0.0a9
invenio-search>=1.0.0a3
invenio-theme>=1.0.0a7
